<h2>Title Details</h2>


<form action="/users/update/{{title._id}}" method="POST">
  <label for="titleUpdate"><input type="text" name="title" value="{{title.title}}"></label>

  <button>Update</button>
</form>

<h2>{{pokemon.name}}'s Details</h2>


<h3>ID: {{pokemon.id}}</h3>
<h3>Type:
  {{#each pokemon.types}}
  <span>{{this.type.name}}</span>
  {{/each}}
</h3>

<img src="{{pokemon.sprites.front_shiny}}" alt="{{pokemon.name}} sprite">